<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy4.example.mapper.SurveyMapper">



<!-- Survey 리스트  -->
	<select id="surveyList" parameterType="Survey" resultType="Survey">
	  	      
	    SELECT               	s_idx as sIdx,
	    						u_idx as uIdx,
	      						s_title as sTitle,
	      						s_content as sContent,
	      						s_datetime as sDatetime	
		FROM	                sur_survey
		order by 				s_datetime asc		
   </select>


<!-- My Survey 리스트  -->
	<select id="mySurveyList" parameterType="Survey" resultType="Survey">
	  	      
	    SELECT                	s_idx as sIdx,
	    						u_idx as uIdx,
	      						s_title as sTitle,
	      						s_content as sContent,
	      						s_datetime as sDatetime	
		FROM	                sur_survey
		where					u_idx  = #{uIdx}
		order by 				s_datetime asc		
		
   </select>



	<!-- Survey 등록하기  -->
	<insert id="insertSurvey"  >
	  	      
		insert into sur_survey( s_title, s_content,  u_idx)
		VALUES(#{sTitle}, #{sContent}, #{uIdx} )
		
		
		<selectKey keyProperty="sIdx" resultType="int" order="AFTER">
    		SELECT LAST_INSERT_ID()
	  	</selectKey>
	
	</insert>
	

	
	
	
		<!-- Question 등록하기  -->
	<insert id="insertQuestion" >
	  	      
		insert into sur_question( q_kind, q_content, s_idx)
		VALUES (#{qKind}, #{qContent}, #{sIdx})
	
		<selectKey keyProperty="qIdx" resultType="int" order="AFTER">
	   		SELECT LAST_INSERT_ID()
	  	</selectKey>
	
	</insert>
	
	
	<!-- Item 등록하기  -->
	<insert id="insertItem"  >
	  	      
		insert into sur_item( q_idx, i_content,  s_idx)
		VALUES
		<foreach collection="itemList" item="item" index="index" separator=" , ">
					         			( #{qIdx}, #{item.iContent}, #{sIdx})
		</foreach>		
	
	</insert>

	<!-- Survey값 가져오기  -->
	<select id="getSurvey" resultType="Survey">
	      SELECT         s_idx as sIdx,
	      				 s_title as sTitle,
	      				 s_content as sContent,
	      				 s_datetime as sDatetime,
	      				 u_idx AS uIdx
	      FROM           sur_survey
	      WHERE			 s_idx = #{sIdx}
	 </select>


</mapper>